<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="common/layout">
<head th:include="common/layout :: htmlhead" th:with="title='favorites'"></head>
<body>
<section layout:fragment="content">-->
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content text-center p-md">

                        <h2><span class="text-navy">合作伙伴企业管理</span></h2>
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
<!--
</section>
</body>
</html>
-->
