<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <link th:href="@{/common/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/common/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/common/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/common/css/style.css}" id="layui_layer_skinmoonstylecss" rel="stylesheet">
    <link th:href="@{/layer/skin/layer.css}" id="layui_layer_skinlayercss" rel="stylesheet">
    <link th:href="@{/layer/skin/layer.ext.css}" id="layui_layer_skinlayerextcss">
<body>

</body>
</html>