<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="row wrapper border-bottom white-bg page-heading" th:fragment="contentNav">

    <div class="col-lg-10">
        <h2>布&nbsp;局</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">主&nbsp;页</a>
            </li>
            <li class="active">
                <strong>布&nbsp;局</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>

</div>
</body>
</html>